*{
    margin:0;
    padding: 0;
}
body {
    font-family: Arial, sans-serif;
}
.main{
    position: relative;
    background: url(header.jpg);
    background-size: cover;
    width:100vw;
    height:210vh;
    background-position: center;
}
.content{
    text-align: left;
    clear: both;
    padding-top: 10px;
    padding-left: 10px;
    padding: 10px;
}
.header{
    margin-top: 20px;
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.heading{
    color:white;
    text-transform: capitalize;
    font-size: 80px;
    line-height: 60px;
    margin-bottom: 80px;
}
.heading .small{
    display: block;
    font-size: 60px;
    text-align: center;
}
.heading .no-fill{
    font-style: italic;
    color: transparent;
    text-align: center;
    -webkit-text-stroke: 2px  white;
}

video {
    object-fit: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 20px;
  }

  .form{
    color:rgb(231, 236, 241);
    background: linear-gradient(to top,rgb(0,0,0,0.7),rgb(0,0,0,0.7));
    width: 1250px;
    height: 560px;
    margin-top: 0px;
    margin-bottom: 60px;
    float: right;
    margin-right: 60px;
    text-align: left;
    padding-top: 0;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(131, 129, 129, 0.7);
}


.content h2{
    font-family: Arial;
    font-size: 80px;
    text-align: center;
    margin-top: 40px;
    
    margin-bottom: 30px;
    color:white;
}
p{
     text-align: center;
}

.input-section {
    margin-bottom: 20px;
    width: 95%;
    align-content: center;
}

.card input{
    background: transparent;
    border-color: white;
    font-size: 16px;
    align-content: left;
}

.label-section {
    font-size: 26px;
    color:white;
    margin-left: 30px;
}

.div-section {
    height: 30px;
    padding: 10px 20px;
    text-align: left;
    color:white ;
    margin: 20px 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: 30px;
    border-radius: 10px;
}

.preview {
    margin-top: 5px;
    width: 15cm;
    height: 10cm;
}

.video-preview {
    width: 15cm;
    height: auto;
}

.input-section label {
    display:block;
    margin-bottom: 0px;
}

.input-section input[type="text"],
.input-section input[type="file"] {
    
    width: 100%;
    padding: 5px;
}

.button-section {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn{
    cursor: pointer;
    transition: 0.5s ease-in-out;
    border-radius: 6px;
}
.btn:hover{
    background-color:rgba(117, 111, 111, 0.1);
}
.button-section button {
    padding: 10px 20px;
    font-size: 16px;
}

.data-container {
    margin-bottom: 700px;
    max-height: 500px;
}

.card {
    border: 1px solid grey;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 60px;
    margin-top: 30px;
    background-size: cover;
    overflow-y: scroll;

}

.card-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 6px;
}

.card-title {
    margin: 0;
    margin-bottom: 0px;
}

.card-body {
    margin-top: 10px;
}
.card-body p{
    text-align: left;
}